<!DOCTYPE html>
<script>
function checkuploadFileName(){
    console.log(jq("#uploadFileName"));
    jQuery.get('file.txt', function(data) {
       alert(data);
       //process text file line by line
       $('#div').html(data.replace('n',''));
    });
}
</script>
<html>
	<body>
        <div class="label">
			JSON Metadata description should be entered below.<br><br>
            Please note, currently a sample JSON is created and saved in the below container. You can override in the below area.
		</div>
        <div class="errorMsg" data-ng-show="errorMsg != ''">
			<span>{{ errorMsg }}</span>
		</div>
        <!--<button data-ng-click="loadConfigDataFromSample()">Load from Sample Configuration</button>-->
        <div class="editor" data-ui-ace="aceOptions" data-ng-model="jsonMetaData"></div>
        <div style="padding:10px">
            <span class="label">Please input the name for the JSON Head Tag</span>
            <input type="text" data-ng-model="baseValue"/>
        </div>
        
        <div class="buttons">
            <addjsonbutton></addjsonbutton>
        </div>
        <div id="htmlForm" class="htmlForm">
            
        </div>
        <div class="buttons" data-ng-show="isHtmlFormLoaded">
            <button data-ng-click='getBuiltJSON()'>Get JSON</button>
        </div>
        <div class="editor" data-ui-ace="aceOptions" data-ng-model="jsonData" data-ng-show="isJsonBuilt"></div>
    </body>

</html>